:root {
  --violet: #6C73E8;
  --purple: #7C79F9;
  --blue: #7197E8;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html, body {
  width:100%;
  height:100%;
  margin: 0 auto;
  font-family: 'Helvetica';
}

h1 {
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

nav.top {
  background-color: #111212;
  height:45px;
  position: fixed;
  display: flex;
  opacity: 0.9;
}

nav div.links {margin: auto;}

nav a:link, :visited, :hover {text-decoration: none !important;}
nav a:hover {color: black; transition: 0.4s;}
nav a {color: white; transition: 0.2s; text-transform: uppercase;}

header.header {
  height:100vh;
  background-image: url('../image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

header h1 {
  font-size: 40px;
  color: white;
  margin: auto;
  text-shadow: 3px 3px 0px #6C73E8;
  text-transform: uppercase;
  font-family: 'Arial black';
}


section.gameplay, section.artist, section.download {
  height: 60vh;
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
  text-align:center;
  word-spacing: 10px;
}

#gameplay {background-color: #7197E8;}
#download {background-color: #6C73E8;}

.intro {height: 45vh; background-color: #fff; border: 1px solid grey; margin: 0 auto; display: inline-block;}

section.artist h1 {color: #ffc685;}

footer.footer {
  height:15%;
  padding:50px;
  background-color: #111212;
  background-repeat: no-repeat;
  background-size: cover;
}

footer p {
  font-size: 15px;
  color: white;
  text-align: left;
  margin: 0;
}

/**COLS**/

.col-1 {width: 8.333333%;}
.col-2 {width: 16.666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666667%;}
.col-6 {width: 48%; padding:1% ; margin:0 auto;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666667%;}
.col-12 {width: 100%;}

@media screen and (max-width:769px) {
  .col-6 {width: 100%;}
}

/**769px = limite de résolution des écrans téléphones**/