:root {
  --bgViolet: #6C73E8;
  --bgPurple: #7C79F9;
  --bgBlue: #7197E8;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html, body {
  width:100%;
  height:100%;
  margin: 0 auto;
  font-family: 'Helvetica';
}

section h1 {
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

nav.top {
  background-color: #111212;
  height:45px;
  position: fixed;
  display: flex;
  opacity: 0.9;
}

nav div.links {margin: auto;}

nav a:link, :visited, :hover {text-decoration: none !important;}
nav a:hover {color: black; transition: 0.4s;}
nav a {color: white; transition: 0.2s; text-transform: uppercase;}

header.header {
  height:100vh;
  background-image: url('../image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

header h1 {
  font-size: 40px;
  color: white;
  margin: auto;
  text-shadow: 3px 3px 0px #6C73E8;
  text-transform: uppercase;
  font-family: 'Arial black';
}


section.gameplay, section.artist, section.download {
  height: 60vh;
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
  text-align:center;
  word-spacing: 10px;
}

#gameplay {background:var(--bgPurple);}
#download {background-color: #6C73E8;}

.intro {height: 45vh; background-color: #fff; border: 1px solid grey; margin: 0 auto; display: inline-block;}

section.artist h1 {color: #ffc685;}

footer.footer {
  height:15%;
  padding:50px;
  background-color: #111212;
  background-repeat: no-repeat;
  background-size: cover;
}

footer p {
  font-size: 15px;
  color: white;
  text-align: left;
  margin: 0;
}

.service-icon {
  background-color: white;
  color: violet;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:769px) {
  .col-6 {width: 100%;}
}

/**769px = limite de résolution des écrans téléphones**/